<pre>
	Todo:
	Add in pictures
</pre>

<div class="row">
	<div class="span-two-thirds">
		<h1>About La Fe</h1>
		<%= image_tag "placeholder.png", :size => "350x240", :alt => "image placeholder", :class => "float-left" %>
		<p>Centro de Salud Familiar La Fe Inc. (La Fe) is a non-profit 501 (C)3 community-based organization that has over a 40-year history of advocacy and service delivery to disadvantaged and underserved communities of El Paso, Texas.</p>
		<p>El Paso has a population in excess of 700,000 inhabitants of which over 70% are Hispanic, mostly Mexican-Americans.  It is the 15th largest city in the U.S. and it’s the largest US/Mexico border community along the 1,000 miles of border in Texas.</p>
		<p>La Fe is a Federally Qualified Community Health Center, whose quality of services has earned its accreditation by the Joint Commission on Accreditation of Healthcare Organizations.</p>
		<p>Equally important, La Fe has a long-standing history as a strong minority advocacy organization, which earned it the prestigious National Council of La Raza Affiliate of the Year 2000 Award.  La Fe has also gained local, state, national, and international recognition for its innovativeness in non-traditional health promotion/disease prevention initiatives and educational programs that advance holistic wellness amongst predominately Mexican-American families.  In 2001 for example, the Annie E. Casey Foundation selected La Fe as one of its Families Count National Honorees for its work in strengthening families.</p>
		<p>La Fe’s growth has allowed it to evolve from a one-room tenement clinic, to a comprehensive community wellness network that continues to pursue its original mission statement:  To improve the quality of life of those we serve by continuously enhancing the health and human services provided.</p>
		<%= image_tag "placeholder.png", :size => "200x150", :alt => "image placeholder", :class => "float-center" %>
	</div>
	
	<div class="span-one-third side-bar">
		<h4>Message from Our CEO</h4>
		<%= image_tag "salvador.jpg", :size => "150x161", :alt => "Salavador Balcorta", :class => "float-right" %>
		<p>“Total Wellness” is so much more than just the physical.  In a community like ours, nuestra gente’s state of health depends on economic, cultural, spiritual, social, political, and psychological well-being. These factors influence our emotions and how we feel about ourselves, how our children feel, and how we feel about others. It is La Fe’s mission to protect and care for all those needs.</p>
		<p>On behalf of the staff and families of Centro de Salud Familiar La Fe, Inc., welcome to our home.</p>
		<p>Four decades ago, a vision was born in El Paso’s Segundo Barrio, one of the nation’s most impoverished and marginalized communities. Our elders — inspired by a hope for justice and a better future for their children — mobilized together to create an organization that would address their health care needs and well-being.</p>
		<p>Today, Centro de Salud Familiar La Fe, Inc. is the realization of their dreams. Our mission is to serve the quality of life, health care, and total well-being needs of our people — all while keeping our community’s dignity, traditions, and cultural values at heart.  Our founders — those brave, single working mothers who dared to dream — their children, and their children’s children deserve nothing less.</p>
		<p>- Salvador Balcorta, La Fe CEO</p>
	</div>
	
</div>
