<pre>
	Todo:
	-Final Review
</pre>

<div class="row">
	<div class="span-two-thirds">
		<h1>Careers at La Fe</h1>
		<%= image_tag "careers01.jpg", :size => "300x225", :alt => "image placeholder", :class => "float-left" %>
		<p>La Fe is an equal-opportunity employer that maintains a policy of nondiscrimination with respect to all employees and applicants for employment.  All personnel actions, such as recruitment, hiring, training, promotion, transfer, layoff, recall, compensation and benefits, discipline, termination, educational, recreational, and social programs are administered without regard to race, color, sex, religion, national origin, age, or disability of otherwise qualified individuals.</p>
		<p>Employment decisions, subject to La Fe’s legitimate business requirements, are based solely on the individual’s qualifications, experience, and performance.</p>
		<p>In compliance with the Americans with Disability Act (ADA), La Fe does not discriminate on the basis of disability in the application process, making hiring decisions, in decisions on career advancement, discharges, employee compensation, job training, or any other terms, conditions or privileges of employment.</p>
	</div>

	<div class="span-one-third side-bar">
		<h4>Join La Fe</h4>
		<%= image_tag "careers02.jpg", :size => "260x195", :alt => "image placeholder", :class => "float-left" %>
		<p>Decisions are a part of life.  Making the right decision is pivotal to success.  Deciding to join Centro de Salud Familiar La Fe, Inc. (La Fe) is a step in the right direction.  Our staff members are dedicated in building a firm foundation to support our services and programs.  We are always looking for high caliber candidates to join us in our very important work.</p>
		<p>La Fe would like to thank you for your interest in our community health center. Applications may be submitted online or on a walk-in basis.  Information that you provide is secure and will be treated confidentially.</p>
		<a href="https://my.trustscreening.com/MVP-APP/index.cfm?fuseaction=career_center.job_board&access_key=lafeclinic&passcode=f33c" class="btn info">Apply Online &raquo;</a>
	</div>
</div>