<pre>
	Todo: Add Picture of staff seeing patient/client
	
	What other information should go on this page?
</pre>


<h1>Contact La Fe</h1>

<h2>La Fe Administrative Office</h2>
	<p>
	1314 E. Yandell Dr.<br>
	El Paso, TX 79902<br>
	Phone: (915) 534-7979
	</p>
	

