

<div class="highlight-box">
	<h1>Contact La Fe</h1>
	<%= image_tag "placeholder.png", :size => "620x450", :alt => "administration reception", :class => "float-right" %>
	<h2>La Fe Administrative Office</h2>
	<p>
		1314 E. Yandell Dr.<br>
		El Paso, TX 79902<br>
		Phone: (915) 534-7979
	</p>
	<br>
	<h2>Media Relations</h2>
	<p>Please contact Estela Reyes at:</p>
	<p>Phone: 915-545-7226</p>
	<br>
	<h2>La Fe Policy & Advocacy Center</h2>
	<p>
		1327 Guadalupe Suite 102<br>
		San Antonio, TX 78207
	</p>
	<p>Phone: 210-208-9494</p>
	<br>
	<h2>La Fe Preparatory School</h2>
	<p>
		616 Father Rahm<br>
		El Paso, TX 79901
	</p>
	<p>Phone: 915-533-3922</p>
	
</div><hr>

<h2>Clinics</h2>
<div class="row">
	<div class="span-one-third">
		<h4>Central Clinic</h4>
		<p>
			700 S. Ochoa<br>
			El Paso, TX 79901
		</p>
		<p>Phone: 915-545-4550</p>
	</div>
	<div class="span-one-third">	
		<h4>Child and Adolecent Wellness Center</h4>
		<p>
			721 S. Ochoa<br>
			El Pso, TX 79901<br>
		</p>
		<p>Phone: 915-545-7090</p>
	</div>	
	<div class="span-one-third">
		<h4>La Fe C.A.R.E. Clinic</h4>
		<p>
			1505 Mescalero<br>
			El Paso, TX 79925
		</p>
		<p>Phone: 915-772-3366</p>
	</div>	

</div><hr>
<div class="row">
	<div class="span-one-third">
		<h4>Jose Roman Memorial Clinic</h4>
		<p>
			815 E. Yandell (rear)<br>
			El Paso, TX 79902
		</p>
		<p>Phone: 915-351-1557</p>
	</div>
	<div class="span-one-third">	
		<h4>Yandell Adult Clinic</h4>
		<p>
			823 E. Yandell<br>
			El Paso, TX 79902
		</p>
		<p>Phone: 915-545-7205</p>
	</div>	
	<div class="span-one-third">
		<h4>Yandell WIC</h4>
		<p>
			815 E. Yandell<br>
			El Paso, TX 79902
		</p>
		<p>Phone: 915-351-1739</p>
	</div>	
</div>

<div class="row">
	<div class="span-one-third">
		<h4>Lisbon Clinic</h4>
		<p>Address</p>
		<p>Phone</p>
	</div>
	<div class="span-one-third">	
		<h4>Westway Clinic</h4>
		<p>
			1713 Banker<br>
			Canutillo, TX 79835
		</p>
		<p>Phone: 915-231-4370</p>
	</div>	
	<div class="span-one-third">
		<h4>San Elizario Clinic</h4>
		<p>
			1313 San Antonio<br>
			San Elizario, TX 79849
		</p>
		<p>Phone: 915-851-5519</p>
	</div>	
</div>
<hr>
<h2>Community & Outreach Offices</h2>
<div class="row">
	<div class="span-one-third">
		<h4>Culture & Technology Center</h4>
		<p>
			721 S. Ochoa (Rear Bldg)<br>
			El Paso, TX 79901
		</p>
		<p>Phone: 915-545-7190</p>
	</div>
	<div class="span-one-third">	
		<h4>Montana Vista Resource Center</h4>
		<p>
			14618 Greg Dr.<br>
			El Paso, TX 79938
		</p>
		<p>Phone: 915-857-1567</p>
	</div>	
	<div class="span-one-third">
		<h4>Westway Community Center</h4>
		<p>
			1713 Banker<br>
			Canutilo, TX 79835
		</p>
		<p>Phone: 915-231-4383</p>
	</div>	
</div>

<div class="row">
	<div class="span-one-third">
		<h4>CHIP</h4>
		<p>
			1225 E. Yandell<br>
			El Paso, TX 79902
		</p>
		<p>Phone: 915-351-8648</p>
	</div>
	<div class="span-one-third">	
		<h4>Senior Companion</h4>
		<p>
			1225 E. Yandell<br>
			El Paso, TX 79902
		</p>
		<p>Phone: 915-532-9639</p>

	</div>	
	<div class="span-one-third">
		<h4>The Corner Printshop</h4>
		<p>
			1300 E. Yandell<br>
			El Paso, TX 79902
		</p>
		<p>Phone: 915-533-1442</p>
	</div>	
</div>
