
<div class='highlight-box'>
<h1>Culture and Arts</h1>
<%= image_tag "culture1.jpg", :size => "350x240", :alt => "image placeholder", :class => "float-right" %>

<p>The Cultural Center, is a component of the Child &amp; Adolecent Wellnes Center which provides programs in art, dance, muralism, music, and theater for area families.  Participants develop their talents and interactively learn about their heritage, cultural traditions, and community values.  This component brings together the positive elements of Chicano culture and creates intergenerational activities where elders, parents, and youth can share perspectives, values, and family activities</p>

<h2>Our Programs Include:</h2>
<ul>
	<li>Ballet Folklorico</li>
	<li>Guitarras de La Fe</li>
	<li>Recording Studio</li>
	
</ul>
</div>

<hr />

<h2>Ballet Folklorico</h2>
<%= image_tag "folklorico1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>The Ballet Folklorico Totec de La Fe offers classes free to the public for children and adults. Children must be at least 5 years of age to participate in the children's program.</p>
<p>Classes for children are on Monday and Wednesday from 6:00pm to 7:30pm</p>
<p>Classes for adults are on Tuesday and Thursday from 6:00pm to 7:00pm</p>
<p>The Ballet Folklorico Totec de La Fe has won two times in a row at the KLAQ Chilie Cook Off and has been invited to San Antonio for Fiesta week in April.</p>
<p>To register please contact Emmanuel Alfaro at (915) 545-7190.</p>


<hr />

<h2>Guitarras de La Fe</h2>
<%= image_tag "guitarras1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>


<hr />
<h2>Recording Studio</h2>
<%= image_tag "studio1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
