
<div class='highlight-box'>
<h1>Culture and Arts</h1>
<%= image_tag "culture1.jpg", :size => "350x240", :alt => "image placeholder", :class => "float-right" %>

<p>NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM. NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM. NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM.</p>
<p>NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM. NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM. NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM.</p>

<p>A blurb about culture and arts programs offered by La Fe</p>
<h2>Our Programs Include:</h2>
<ul>
	<li>Ballet Folklorico</li>
	<li>Guitarras de La Fe</li>
	<li>Recording Studio</li>
	
</ul>
</div>

<hr />

<h2>Ballet Folklorico</h2>
<%= image_tag "folklorico1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>


<hr />

<h2>Guitarras de La Fe</h2>
<%= image_tag "guitarras1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>


<hr />
<h2>Recording Studio</h2>
<%= image_tag "studio1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
