
<div class="row">	
	
	<div class="span-two-thirds">
		<h1>Health Care Services</h1>
		<%= image_tag "healthcare-b1.jpg", :size => "200x150", :alt => "Doctor seeing child patient", :class => "float-left" %>
		<p>Over its history, La Fe has steadily increased access to quality preventive and primary health care services by expanding its vision to encompass the many health risks its service population must overcome. To meet the challenge of community well-being for a predominately Mexican-American service population, La Fe has established a bilingual, 	multi-cultural, and qualified staff of over 200 medical, dental, nursing, support, and community health professionals that serve the community with quality care and “alma y corazón” (heart and soul).</p>
		<p>During this legacy, La Fe has also expanded its service sites to create better access to comprehensive human services. Over the last ten years, La Fe has grown from one service site to a network of 6 Primary Care clinics, 4 community outreach satellites, a comprehensive HIV/AIDS clinic, an affordable housing initiative, and a comprehensive health promotion/disease prevention facility – the Child and Adolescent Wellness Center.</p>
		<p>Through these multiple sites and programs La Fe has provided comprehensive medical and dental services to over 21,000 clients through 80,000 services encounters.  Because each clinic is located in a Medically Underserved Area and a Health Professional Shortage Area (designations by the US Department of Health and Human Services), La Fe has been able to reach vulnerable border populations with accessible and appropriate services.</p>
		
		<p>La Fe provides the following comprehensive services:</p>
		<ul>
		<li>Gynecology
		<li>HIV Testing, Treatment, and Counseling
		<li>Internal Medicine
		<li>Obstetrics
		<li>Pediatrics
		<li>Perinatal Care
		<li>Podiatry
		<li>Diagnosis and Treatment
		<li>Oral Examination
		<li>Preventive Services and Education
		<li>Prophylactics
		<li>Restorative Services
		</ul>
	</div>
	
	<div class="span-one-third side-bar">
		<h2>Register as a Patient</h2>
		<p>Anyone living in El Paso County can become a La Fe member. Bring the following three documents to your registration appointment:</p>
		<ul>
		<li class="light">State-issued photo ID</li>
		<li class="light">Proof of income</li>
		<li class="light">Proof of address</li>
		</ul>
		<p>For more information or to make a registration appointment call (915) 545-4550.</p>
		
		<h2>Medical Service Costs</h2>
		<p>Centro de Salud Familiar La Fe offers affordable and quality medical services to El Paso County residents regardless of their income. Low-income families, living in certain El Paso County-Area Census tracts, may qualify for discounts. To find out if you qualify for a discount, please call (915) 545-4550.</p>


		
	</div>	

</div>

