<pre>
	Todo:
	- Fix image padding so text looks cleaner
	- Fix copy in Info for Press box
	- Add picture to info for press box	
	- Add anther news story
</pre>
<div class="row">
	<div class="span-two-thirds">
		<h1>News</h1>
		<div>
			<h2>La Fe CEO Salvador Balcorta Featured in El Paso Inc.</h2>
			<img src="http://bloximages.newyork1.vip.townnews.com/elpasoinc.com/content/tncms/assets/v3/editorial/9/02/902818e6-9246-11e1-8fd9-001a4bcf6878/4f9dba754ca16.image.jpg" width="300px" height="200px" align="left" />
		
		<p>Salvador “Chava” Balcorta, who runs Centro de Salud Familiar La Fe, isn’t your typical non-profit executive.</p>
		<p>And La Fe, with a $27 million budget and 450 employees, isn’t just a Segundo Barrio clinic anymore.</p>
		<p>La Fe’s beginnings can be traced to 1967, a single room and a volunteer nurse recruited by a group of working moms and community activists.</p>
		<p>Today, it’s a sprawling enterprise with nine clinics between Westway and San Elizario, a charter school, after school programs, apartments, job training, cooking classes and even a recording studio.</p>
		<p>Balcorta’s office in La Fe’s culture and technology building on South Ochoa is just a few blocks from the tenement where he was raised by his widowed mother, who worked 12-hour days at Ashley’s cannery.</p>
		</p>Just as La Fe exists to change the lives of young people, it changed Balcorta’s life when he went to work there as a volunteer in 1972.</p>
		<p>After graduating from Bowie High School that year, Balcorta, 58, followed a path that was anything but crowded, earning a degree in social work at the University of Texas at El Paso, and then a master’s in the field through a UT-Austin program in El Paso.</p>
		<p><a href="http://www.elpasoinc.com/news/q_and_a/article_cb046410-9241-11e1-bda8-001a4bcf6878.html">Read Full Article at El Paos Inc.</a></p>
				
		</div>
	</div>
	<div class="span-one-third side-bar">
		<h2>Info for Press</h2>
		<%= image_tag "placeholder.png", :size => "250x140", :alt => "image placeholder", :class => "float-left" %>
		<p>If you are interested in featuring La Fe in one of your articles please contact our Public Relations Officer, Estela Reyes at:</p>
		<p>Estela.Reyes@lafe-ep.org</p>
	</div>
</div>



