<div class='highlight-box'>
<h1>Nutrition</h1>
<%= image_tag "nutrition1.jpg", :size => "350x240", :alt => "image placeholder", :class => "float-right" %>

<p>Access to nutrition education is important to the wellbeing of families and individuals. NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY NEED COPY. </p>

<h2>The following programs promote healthy eating:</h2>
<ul>
	<li>La Fe WIC</li>
	<li>Diabetes Collaborative</li>	
</ul>
</div>

<hr />

<h2>La Fe WIC- Healthy Eating</h2>
<%= image_tag "wic-eating.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>Information about WIC nutrition education</p>


<hr />

<h2>Diabetes Collaborative</h2>
<%= image_tag "collaborative.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>

