/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

footer {
  background: #222;
  color: #fff;
 /* background: url(bg-footer.png); */
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #eee;
  border-width: 5px 0px 0px;
-moz-border-image: url(border2.png) 7 0 0 repeat;
-webkit-border-image: url(border2.png) 7 0 0 repeat;
-o-border-image: url(border2.png) 7 0 0 repeat;
border-image: url(border2.png) 7 0 0 repeat;
}

footer .span8 ul li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
  display: inline;
  }

footer .span8 ul li:before {
  content: "\0020 - \0020";

  }
footer .span8 ul li:first-child:before {
  content: " ";
}

.magic-box {
  background: #722;
  color: #fff;
  padding: 20px;
  border-radius: 5px
}